.userList {
  width: 70%;
  max-width: 1400px;
  margin: 3% auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  &__loading,
  &__error {
    text-align: center;
  }

  &__users {
    &--user {
      display: grid;
      margin-bottom: 10px;
      grid-template-columns: 5% 30% 15% 25% 15% 5% 5%;
      align-items: center;
      justify-items: center;
      text-align: center;
      padding: 10px;
      border: 1px solid rgb(162, 166, 172);
      border-radius: 5px;

      .user__index {
        font-weight: 700;
      }

      .user__delete {
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 1286px) {
  .userList__users--user {
    display: grid;
    grid-template-columns: 10% 40% 30% 10% 10%;
  }
  .user {
    &__id,
    &__email {
      display: none;
    }
  }
}
