.cart {
  width: 80%;
  max-width: 1400px;
  margin: auto;
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__empty {
    text-align: center;

    &--link {
      background: rgb(0, 140, 255);
      color: rgb(255, 255, 255);
      font-weight: 600;
      padding: 5px 10px;
      border: 1px solid rgb(162, 166, 172);
      border-radius: 5px;
    }
  }

  &__left {
    width: 70%;
    padding: 10px;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 5px;

    .product {
      display: flex;
      flex-wrap: wrap;
      padding: 10px;
      border-radius: 5px;

      &__image {
        width: 25%;
        min-width: 200px;
        height: auto;
        margin: auto 0;
        margin-right: 20px;
      }

      &__content {
        &--name {
          margin-bottom: 5px;
        }

        &--price {
          margin-bottom: 15px;
        }

        &--qty {
          text-align: center;
          text-align-last: center;
          margin-right: 1em;
          width: 4em;
          height: 2em;
          cursor: pointer;
        }

        &--remove {
          width: 6em;
          height: 2em;
          color: rgb(255, 255, 255);
          font-weight: 600;
          border: none;
          border-radius: 5px;
          background: rgb(255, 54, 54);
          cursor: pointer;
        }
      }
    }
  }

  &__right {
    width: 25%;
    margin-left: 15px;
    border-radius: 5px;

    &--top {
      border: 1px solid rgb(189, 189, 189);
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 5px;
      font-size: 18px;
      text-align: center;
    }

    &--bottom {
      &__checkout {
        background-image: linear-gradient(
          rgb(247, 223, 165),
          rgb(240, 193, 75)
        );
        height: 35px;
        color: #111;
        font-weight: 600;
        display: block;
        width: 100%;
        margin: auto;
        padding: 5px 10px;
        border: 1px solid #a2dda6ac;
        border-radius: 5px;
      }
    }
  }
}

.title {
  width: 100%;
}

@media (max-width: 1200px) {
  .cart {
    width: 80%;
    flex-direction: column;

    &__left {
      width: 90%;
      max-width: none;
      margin: auto;
    }

    &__right {
      width: 93%;
      margin: 15px auto 30px;
    }
  }
}
