.home {
  width: 80%;
  margin: 0 auto;
  margin-top: 3%;

  &__loading {
    padding-top: 3.125em;
    text-align: center;
  }

  &__error {
    text-align: center;
    padding: 20px 100px;
    border-radius: 0.5rem;
    background: rgb(255, 170, 170);
  }

  &__title {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
