.footer {
  background: rgb(35, 47, 62);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__image {
    width: 80px;
    margin-right: 15px;
  }

  &__copyright {
    color: rgb(246, 246, 246);
    font-weight: 700;
  }
}
